body {
    font-family: "Playfair Display", serif;
    margin: 0;
}

nav {
    display: inline;
    float: right;
    margin-top: 8px;
    margin-right: 1em;
}

nav a {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    margin-left: 0.5em;
}

.navbar {
    height: 40px;
    background-color: white;
    border-bottom: solid 1px lightgrey;
    position: fixed;
    width: 100%;
    top: 0;
}

.logo {
    font-family: "Cinzel", serif;
    font-size: 2em;
    margin-left: 0.5em;
    /*text-decoration: none;*/
}

.logo-link {
    text-decoration: none;
    color: black;
}

.main {
    margin-top: 65px;
}

.entry {
    width: 960px;
    margin: 0px auto 40px auto;
    font-size: 1.2em;
    /* border: 1px solid black; */
}

.entry-title {
    font-size: 1.1em;
    font-weight: bold;
}

.entry-date {
    float: right;
    font-size: 1.1em;
    /*font-weight: bold;*/
}

.entry-edit {
    float: right;
    font-size: 0.8em;
    text-transform: uppercase;
    margin-right: 1em;
    margin-top: 6px;
}

.entry-content {
    line-height: 1.6em;
}

.chapter-title {
    font-family: "Cinzel", serif;
    font-size: 2em;
    text-align: center;
    /* margin-top: 25px; */
    margin-bottom: 40px;
}

.welcome {
    /*border: 1px black solid;*/
    text-align: center;
    width: 25%;
    margin: 25vh auto;
}

.welcome a {
    display: inline-block;
}

.welcome h1 {
    font-family: "Cinzel", serif;
    font-size: 70px;
    margin-bottom: 0;
}

.welcome h2 {
    font-size: 23px;
    margin-bottom: 40px;
}

.google-login-button {
    text-align: center;
    background: url("img/btn_google_signin_light_normal_web@2x.png");
    background-size: 191px 46px;
    background-repeat: no-repeat;
    /*display: block;*/
    width: 191px;
    height: 46px;
}

.google-login-button:hover {
    background: url("img/btn_google_signin_light_focus_web@2x.png");
    background-size: 191px 46px;
    background-repeat: no-repeat;
    /*display: block;*/
    width: 191px;
    height: 46px;
}

.google-login-button:active {
    background: url("img/btn_google_signin_light_pressed_web@2x.png");
    background-size: 191px 46px;
    background-repeat: no-repeat;
    /*display: block;*/
    width: 191px;
    height: 46px;
}

.compose-entry {
    margin: 15px;
}

.compose-entry label {
    display: block;
}

.compose-entry input {
    margin-bottom: 20px;
}

.compose-entry-content {
    width: 95%;
    display: block;
    margin-bottom: 20px;
}

@media all and (max-width: 980px) {
    .entry {
        width: 95%;
    }
}
